.product-image {
  object-fit: contain;
  height: 200px;
  padding: 10px;
}

.product-title {
  text-align: left; 
}

.product-description {
  text-align: left; 
  font-size: 0.9rem;
}

.product-price {
  text-align: left;
}
